{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel = "stylesheet" href = "{% static 'mainstyle.css' %}">
</head>
<body id="regBody">
    <h1> Hello {{username}} id: {{email}} </h1>

    <script>
        function goToregisterPage() {
            window.location.href = "{% url 'index' %}";
        }
    </script>
    
    <button class="colourdes" id="topRight" onclick="goToregisterPage()">Logout</button>
    <form method="POST" action="{% url 'QPMaker' %}" enctype="multipart/form-data" class = "form-container" id="form-div">
        {% csrf_token %}
        <h1 id="headText" class="texter">Welcome</h1>

        <label for="subjectMarks" class="texter">Subject Marks</label>
        <input type="text" id="subjectMarks" name="subjectMarks" placeholder="Enter marks of the subject" required>

        <label for="subject" class="texter">Name of the Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Enter the name of the subject" required>

        <label for="diff" class="texter">Paper Difficulty / Type</label>
        <input type="text" id="diff" name="diff" placeholder="Enter question paper difficulty" required>

        <label for="quesNo" class="texter">Number of Questions</label>
        <input type="text" id="quesNo" name="quesNo" placeholder="Enter number of questions" required>

        <label for="time" class="texter">Maximum Duration (hrs)</label>
        <input type="text" id="time" name="time" placeholder="Enter the maximum duration" required>

        <label for="file" class="texter">Upload PDF (optional)</label>
        <input type="file" id="file" name="file" accept=".pdf">

        <label for="choice" class="texter">Use PDF content</label>
        <input type="text" id="choice" name="choice" placeholder="also / only" required>

        <button class="colourdes">SUBMIT</button>
        
        
    </form>
</body>
</html>

