{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'mainstyle.css' %}">
</head>
<body id="page-body">
    <script>
        function goToHome() {
            window.location.href = "{% url 'index' %}";
        }
    </script>

    <button class="btn-action" id="logout-btn" onclick="goToHome()">Logout</button>
    <form method="POST" action="{% url 'generate_paper' %}" enctype="multipart/form-data" class="form-container" id="main-form">
        {% csrf_token %}
        <h1 id="form-title" class="form-label">Welcome</h1>

        <label for="subject_marks" class="form-label">Subject Marks</label>
        <input type="text" id="subject_marks" name="subject_marks" placeholder="Enter marks of the subject" required>

        <label for="subject" class="form-label">Name of the Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Enter the name of the subject" required>

        <label for="difficulty" class="form-label">Paper Difficulty / Type</label>
        <input type="text" id="difficulty" name="difficulty" placeholder="Enter question paper difficulty" required>

        <label for="question_count" class="form-label">Number of Questions</label>
        <input type="text" id="question_count" name="question_count" placeholder="Enter number of questions" required>

        <label for="duration" class="form-label">Maximum Duration (hrs)</label>
        <input type="text" id="duration" name="duration" placeholder="Enter the maximum duration" required>

        <label for="pdf_file" class="form-label">Upload PDF (optional)</label>
        <input type="file" id="pdf_file" name="pdf_file" accept=".pdf">

        <label for="pdf_usage" class="form-label">Use PDF content</label>
        <input type="text" id="pdf_usage" name="pdf_usage" placeholder="also / only" required>

        <button class="btn-action">SUBMIT</button>
    </form>
</body>
</html>
