{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel = "stylesheet" href = "{% static 'styles.css' %}">
</head>
<body id="regBody">
    <script>
        function goToMainPage() {
                window.location.href = "{% url 'dashboard' %}";
        }
    </script>
    <button class="colourdes" id="topRight" onclick="goToMainPage()">Main page</button>
    <form method='POST' action="{% url 'dashboard' %}" class = "form-container" id="form-div">
        {% csrf_token %}
        <h1 id="headText" class="texter">Log in</h1>
        <label for="email" class="texter">Email</label>
        <input type = "email" name = "email" placeholder = "Email" required  ><br>
        <label for="password" class="texter">Password</label>
        <input type = "password" name = "password" placeholder = "Password" required  > <br>
        <button class="colourdes" onclick="goToNextPage()">Sign up</button>
        <p id="logintext" class="texter">New user?</p>
        <a href="{% url 'index' %}" class="texter">Register here</a>
    </form>
</body>
</html>




